{% extends 'base.html' %}

{% block conteudo %}
{% include './partials/_nav.html' %}

<div class="col-lg-12">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Email</th>
                {% if request.user.is_superuser %}
                <th>Ação</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for usuario in lista %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            {% if request.user.is_superuser %}
            <!-- logica de remoção aqui  -->
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include './partials/_footer.html' %}
{% endblock  %}